name = "ai-itinerary-generator"
main = "src/index.js"
compatibility_date = "2024-09-23"


compatibility_flags = ["nodejs_compat"]

[vars]
ENVIRONMENT = "production"

[[env.production.vars]]
FIRESTORE_PROJECT_ID = "YOUR_PROJECT_ID_HERE"